<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello AllUser</h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<%userlist.forEach(function(user){%>
    	<li><%=user.userid%></li>
    	<%})%>
    </ul>
    <p><a href="/">返回首页</a></p>
  </body>
</html>